.counter {
  border: solid 3px red;
  width: 600px;
  height: 300px;
  margin: auto;
}
.counter .first-row {
  border: solid 4px blue;
  width: 300px;
  height: 80px;
  margin: 20px auto;
  text-align: center;
  line-height: 80px;
}
.counter .first-row button {
  width: 30px;
  height: 30px;
}
.counter .first-row span {
  margin: 0 20px;
}
.counter .second-row {
  border: solid 10px blue;
  width: 400px;
  height: 100px;
  margin: 30px auto;
  line-height: 100px;
}
.counter .second-row .input {
  width: 40px;
  height: 40px;
  margin-left: 20px;
  margin-right: 20px;
}
.counter .second-row button {
  width: 110px;
  height: 40px;
  margin-right: 10px;
}
